<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Health</title>
  <link href="http://fonts.cdnfonts.com/css/averia-libre" rel="stylesheet">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/enter-account.css">
</head>

<body>
  <header>
    <div class="first-half">
      <a href="/">
        <div class="logo">
          <img src="../assets/icon-vaccine.png"></img>
          <p>My Health</p>
        </div>
      </a>
    </div>
  </header>
  <div class="enter-account">
    <div class="main-form">
      <form>
        <label for="login-email">E-mail <input id="login-email" placeholder="user@example.com" type="email" /></label>
        <label for="login-password">Senha <input id="login-password" placeholder="**********" type="password" />
        </label>
      </form>
      <p class="login-warning" id="login-warning"></p>
      <button class="btn green login" id="login-btn">Entrar</button>
    </div>
    <a class="forgot-password" href="../views/forgot-password.html">Esqueci minha senha</a>
  </div>
  <script type="module" src="../javascript/firebase.mjs"></script>
  <script type="module" src="../javascript/index.mjs"></script>
</body>

</html
